*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: seagreen;
    font-size: 1em;
    color:white;
}

html, body {
    width: 100%;
    height: 100%;
    display:flex;

} 

.content{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}

.button{
    align-self: center;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
}