body {
    background: url('https://images.unsplash.com/photo-1558051815-0f18e64e6280?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.new-tweet-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1;
}

.tweet-input {
    width: 250px;
}

.hashtag-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.post-it {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    background: #e8e89e;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
